/* app css stylesheet */

.title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.form {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 175px;
}

.input {
  margin: 5px;
  display: inline-block;
  width: 100%;
}

input[disabled] {
  opacity: 0.5;
}

input.ng-invalid.ng-dirty
{
  border: 1px solid red;
}

input.ng-valid.ng-dirty
{
  border: 1px solid green;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
