<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AngularJS Prosoft Nearshore Exercise App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div ng-view></div>

  <div class="title">AngularJS Prosoft Nearshore Exercise App: v<span app-version></span></div>

  <div ng-controller="FormController" class="form">
    <form novalidate name="form" class="simple-form" ng-show="!show">
      <label>Start Date: <input type="date" name="start" ng-model="calendar.start" placeholder="MM/DD/YYYY" class="input" required /></label><br />
      <div ng-show="form.start.$error">
        <span ng-show="form.start.$error.number">The value is not a valid date.</span>
        <span ng-show="form.start.$error.required && form.start.$dirty">The value is required.</span>
      </div>
      <label>Number of days: <input type="text" name="number" ng-model="calendar.number" number class="input" min="1" required /></label><br />
      <div ng-show="form.start.$error">
        <span ng-show="form.number.$error.number">The value is not a valid number.</span>
        <span ng-show="form.number.$error.min">The value must be an integer greater than 1.</span>
        <span ng-show="form.number.$error.required && form.number.$dirty">The value is required.</span>
      </div>
      <label>Country Code: <input type="text" name="code" ng-model="calendar.code" code class="input" maxlength="6" required /></label><br />
      <div ng-show="form.start.$error">
        <span ng-show="form.code.$error.code">The value is not a valid code.</span>
        <span ng-show="form.code.$error.maxlength">The value must not exceed 10 chars.</span>
        <span ng-show="form.code.$error.required && form.code.$dirty">The value is required.</span>
      </div>
      <br />
      <input type="button" ng-click="reset(); form.$setPristine();" value="Reset" />
      <input type="button" ng-click="display(calendar)" ng-disabled="form.$invalid" value="Display" />
    </form>
    <pre>master = {{master | json}}</pre>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
  <script src="components/directives.js"></script>
</body>
</html>
